
  <div class="footer">
    <div class="container">
      <a href="/">Home</a> - 
      <a href="mailto:prize@isios7jailbrokenyet.com" target="_blank">Contact us</a> - 
      <a href="privacy">Privacy policy</a> - 
      <a href="https://www.threshold.is">Powered by Threshold</a><br>
      Special thanks to <a href="https://twitter.com/nickdepetrillo‎" target="_blank">Nick Deptrillo</a> for the inspiration, and to <a href="https://twitter.com/ncasenmare" target="_blank"><u>Nick Liow</u></a> for contributing code to this project.
    </div>
  </div>