
  <div class="footer">
    <div class="container">
      <a href="/">Home</a> - 
      <a href="mailto:prize@isios7jailbrokenyet.com" target="_blank">Contact us</a> - 
      <a href="privacy">Privacy policy</a> - 
      <a href="https://www.threshold.is">Powered by Threshold</a><br>
      Special thanks to <a href="https://twitter.com/nickde" target="_blank">Nick DePetrillo</a> for the inspiration, and to <a href="https://twitter.com/ncasenmare" target="_blank">Nick Liow</a> for contributing code to this project.<br>
      This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/"  target="_blank">CC BY-SA 4.0</a> license.
    </div>
  </div>