
  <div class="footer">
    <div class="container">
      <a href="/">Home</a> - 
      <a href="mailto:prize@isios7jailbrokenyet.com" target="_blank">Contact us</a> - 
      <a href="privacy">Privacy policy</a> - 
      <a href="https://threshold.is">Powered by Threshold</a>
    </div>
  </div>