/**************

THE TRANSACTION SHTUFF

**************/

#transactions_section {
	width: 960px;
	margin:50px auto;
	font-size: 20px;

	position: relative;
	overflow: hidden;

}

#payment_section {
	float:left;
	width:600px; 
}
#payment_section form {
	width: 600px;
	margin:0;
}
#payment_section input {
	font-size: 20px;
	font-family: Open Sans;
	width:100%;
	padding:5px;
}

#leaderboard {
	width:300px;
	float:right;
}

.subtitle {
	font-size: 15px;
	opacity:0.7;
}
#transactions_section h1 {
	font-family: Bree Serif;
	font-weight: 400;
	font-size:40px;
	color:#000;
	line-height: 1em;
	margin: 50px 0 30px 0;
}
#transactions_section hr {
	border: 1px solid #DDD;
	margin-top: 25px;
	margin-bottom: 50px;
}

/**************

CUSTOM AMOUNT

**************/


.selection_list {
	width:605px;
	overflow: hidden;
	margin-top: 5px;
}
.selection_list > div{
	
	width:100px;
	height:50px;

	margin-right:7px;
	float:left;

	background: #000;
	color: #fff;
	font-size: 25px;
	text-align: center;

	border-radius: 5px;
	border: 2px solid #000;
	
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

}
.selection_list > div:hover{
	background: #333;
}
.selection_list > div[selected]{
	cursor: auto;
	background: #fff;
	color: #000;
	border: 2px solid #bbb;
}
.selection_list > div[selected]:hover{
	background: #fff;
}
.selection_list > div > span{
	position: relative;
	top:7px;
}

#prices_list > div {
	width:100px;
}
#prices_list > #custom_amount{
	width:150px;
}

#split_list > div {
	width:140px;
	font-size: 16px;
}
#split_list > div > span{
	top:14px;
}


/**************

REWARD LEVELS

**************/


#reward_levels {
	overflow: hidden;
	margin-top: 5px;
}
#reward_levels > div {
	position: relative;
	width:100%; height:70px;
	margin-bottom: 5px;
}
#reward_levels > div[locked] {
	opacity:0.5;
}
#reward_levels > div > #reward_price {
	position: absolute; left:0;
	width:50px; height:50px;
	padding: 10px;
	background: #333;
	color: #fff;
	text-align: center;
}
#reward_levels > div[locked] > #reward_price {
	background: #999;
}
#reward_levels > div > #reward_price > span{
	position: relative;
	top:10px;
}
#reward_levels > div > #reward_desc {
	position: absolute; right:0;
	width:500px; height:50px;
	padding: 10px 15px;
	font-size: 18px;
	background: #ddd;
	color: #000;
}

#custom_amount_input_container, #custom_split_input_container {
	overflow: hidden;

	-webkit-transition: height 0.5s ease-in-out;
	-moz-transition: height 0.5s ease-in-out;
	-ms-transition: height 0.5s ease-in-out;
	-o-transition: height 0.5s ease-in-out;
	transition: height 0.5s ease-in-out;
}

/**************

PAYMENT METHODS

**************/

#payment_methods {
	overflow: hidden;
}
#payment_methods > div{
	float:left;

	text-align: center;
	width:140px;
	padding:10px 20px;
	margin:10px;
	border-radius: 100px;
	background: #000;
	color: #fff;

	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#payment_methods > div:hover {
	background: #333;
}

/**************

LEADERBOARD

**************/

/* Hide all but first 25 */
#leaderboard[collapsed] ol li:nth-child(n+26) {
	display: none;
}
#leaderboard[collapsed] #show_all_donators {
	text-align: center;
	width:150px;
	padding:5px 10px;
	margin:10px auto;
	border-radius: 100px;
	background: #ccc;
	color: #fff;

	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#leaderboard[collapsed] #show_all_donators:hover {
	background: #ddd;
}
#leaderboard[expanded] #show_all_donators {
	display: none;
}

#leaderboard li span {
	color: #999;
}