#artists_lineup {
	overflow: hidden;
}
#artists_lineup > div {
	width:680px; height:250px;
	padding: 0 20px;
	margin-bottom: 20px;
	background-color: #000;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
}

#artists_lineup > div > #logo {
	position: absolute;
	width:230px; height:250px;
	top:0; left:30px;
}

.artist_button {
	float:right;
	width:100px; height:100px;
	
	background: rgba(0,0,0,0.6);
	color: #fff;

	box-shadow: 0 5px 5px rgba(0,0,0,0.5);

	margin-top: 75px;
	margin-right: 20px;
	border-radius: 10px;

	position: relative;

	cursor: pointer;
}

.artist_button:hover {
	top: -2px;
	background: rgba(50,50,50,0.6);
	box-shadow: 0 7px 7px rgba(0,0,0,0.5);
}

.artist_button > span {
	
	font-size: 18px;
	font-family: Open Sans;
	text-align: center;

	width:100%;
	display: inline-block;
	position: absolute;
	bottom: 5px;
}
.artist_button > div {
	width:50px; height:50px;
	position: absolute;
	top: 15px;
	left: 25px;
}

#modal_overlay {
	position:fixed; 
	top:0; left:0; 
	z-index:100; 
	width:100%; height:100%; 
}
#modal_overlay > div:nth-child(1) {
	position: absolute;
	width:100%; height:100%;
	background: rgba(0,0,0,0.4);
}
#modal_overlay > div:nth-child(2) {
	position: absolute;
	top:50%; left:50%;
	width:0; height:0;
}
#modal_overlay iframe {
	display: block;
	width:800px; height:450px;
	
	background: #fff;
	margin: 0 auto;

	position: absolute;
	top:-260px; left:-400px;

	box-shadow:0 10px 30px rgba(0,0,0,0.8);

}
#modal_overlay #modal_close {

	position: absolute;
	top:210px; left:-50px;

	width:100px;
	border-radius: 50px;
	border: 2px solid #fff;

	text-align: center;
	padding:10px 20px;
	background: #000;
	color: #fff;
	cursor: pointer;

	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

}
#modal_overlay #modal_close:hover {
	background: #333;
	top:208px;
}
