#submit_button {
	background: rgba(0, 0, 0, 0.5);
	color: rgb(255, 255, 255);
	border: 0;
	position: absolute;
	top: 10px;
	font-size: 25px;
	font-family: Open Sans;
	border-radius: 30px;
	padding: 5px 15px;
	right: 10px;
	cursor: pointer;
}
#submit_button:hover {
	background: rgba(50, 50, 50, 0.5);
}