
<head>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href="/bundle/css/biography.css" rel="stylesheet" type="text/css">
</head>

<body style="background-image:url(/bundle/artists/bg/<%=name%>.png);">

	<div id="glass">

		<!--div id="glass_bg" style="background-image:url(/bundle/artists/bg/<%=name%>.png);"></div-->
		<div id="glass_text">

			<%

			switch(name){ 





				case "hal":
					%>

			<h2>Why did you join this bundle experiment?</h2>
			Having made my career from the internet and grown up on the internet, I believe in the future of the internet. And that future is an open future where information is practically free to share and is accessible to everyone regardless of whether or not they have the means to pay for it.

			<h2>What have you made?</h2>
			My main project is the Epic Battle Fantasy series, a wonderful series that I am proud to help create. A parody of Final Fantasy classics, this series brings together all that is great about the old games and various anime sources. I would also love to mention a new High Fantasy retro-style RPG that I'm proud to be working on with called Kobold Conquest due to be released sometime next year. 

			<h2>Where can we find you?</h2>
			<div style="text-align:center">
				<a target="_blank" href="http://HalcyonicFalconX.Bandcamp.com">Bandcamp</a> | 
			    <a target="_blank" href="http://www.Facebook.com/HalcyonicFalconX">Facebook</a> |
			    <a target="_blank" href="http://twitter.com/Phyrnna">Twitter</a>
			</div>

					<%
					break;





				case "jimp":
					%>


			<h2>Why did you join this bundle experiment?</h2>
			I've had these assets lying around for a while now and it's a shame to see them go to waste. Looking forward to seeing what people make with them!

			<h2>What have you made?</h2>
			Some projects I've worked on are Sushi Cat, Penguinz, zOMGies, Achievement Unlocked 3, Corporation Inc and the upcoming Crush The Castle: Adventures.

			<h2>Where can we find you?</h2>
			<div style="text-align:center">
				<a target="_blank" href="http://www.artjimp.com">Website</a> |
				<a target="_blank" href="http://twitter.com/artjimp">Twitter</a>
			</div>

					<%
					break;







				case "ncase":
					%>

			<h2>Why did you join this bundle experiment?</h2>
			[Full disclosure: I made Commonly.cc & The Open Bundle.]
			Copyright, DRM, and walled gardens are currently "necessary evils" to earn money.
			But I feel that in recent years, they've gotten even more "necessarily evil".
			I launched this experiment - almost in desperation -
			to find an alternate way for people to earn money by <i>opening</i> their work instead.

			<h2>What have you made?</h2>
			My most popular games include the :The Game: series, Gap Monsters, 4 Horsemen, and Pony Wings.
			Since then, I drank the Silicon Valley Kool-Aid and founded two startups,
			or whatever passes for a startup nowadays.

			<h2>Where can we find you?</h2>
			<div style="text-align:center">
				<a target="_blank" href="http://www.ncase.me">Website</a> |
				<a target="_blank" href="http://www.facebook.com/NutcaseNightmare">Facebook</a> |
				<a target="_blank" href="http://twitter.com/ncasenmare">Twitter</a>
			</div>

					<%
					break;






				case "strat":
					%>

			<h2>Why did you join this bundle experiment?</h2>
			I want to help out artists who are starting out, have a hard time finding music to match their project, or don't have the budget.
			As someone who had a hard time finding free resources, I know how much of a pain it can be to find good and/or fitting royalty-free media for your personal projects.
			I also love seeing/hearing people use and learn from my work.

			<h2>What have you made?</h2>
			My music was in Beat Hazard Ultra, Unplugged (Xbox Live Arcade), and Symphonic Tower Defense: Halloween Edition.

			<h2>Where can we find you?</h2>
			<div style="text-align:center">
				<a href="http://daydreamanatomy.bandcamp.com/" target="_blank">Bandcamp</a> |
				<a href="http://www.youtube.com/user/quixoticnostalgic" target="_blank">Youtube</a> |
				<a href="http://daydreamanatomy.tumblr.com/" target="_blank">Tumblr</a>
			</div>

					<%
					break;







				case "mind":
					%>

			<h2>Why did you join this bundle experiment?</h2>
			I really do love to make games, but sometimes I just can't work on every cool little gem of a game that so many cool programmers are making these days. Hopefully my art can add a little flair to your game and give it a bit of personality.

			<h2>What have you made?</h2>
			I did a few assets for Alien Hominid, and did most of the characters for Newgrounds Rumble which has over 20 million downloads webwide.
			Even though that game was made in '07, its the one I get the most feedback from, as well as request for a sequel, which is nice.
			Madness Accelerant was alot of fun to make, and got us (Tom Fulp who programmed it) some game magazine street cred.

			<h2>Where can we find you?</h2>
			<div style="text-align:center">
				<a target="_blank" href="http://www.mindchamber.net/">Website</a> | 
				<a target="_blank" href="https://www.facebook.com/Mindchamber">Facebook</a>
			</div>

					<%
					break;






				case "kenney":
					%>

			<h2>Why did you join this bundle experiment?</h2>
			I've contributed assets to the public domain before and it's a great way to meet new people and keep in touch with the game development community. The Open Bundle is a way for me to meet even more people in the industry and makes sure I can keep releasing assets like the bundled ones in the future.

			<h2>What have you made?</h2>
			Projects that you're a part of, that you'd like to boast about.
			In the 10+ years I've been working in the Flash game industry I've made over 50 different games. Most notable are Jack Russell, Ballista, Retron, Colorbot, Armor Picross and Pico's School DX.
			Recently I've made the leap to the mobile platform and released Trid, a completely free game for Android, iOS and BlackBerry.

			<h2>Where can we find you?</h2>
			<div style="text-align:center">
				<a target="_blank" href="http://www.kenney.nl">Website</a> |
				<a target="_blank" href="http://www.facebook.com/KenneyNL">Facebook</a> |
				<a target="_blank" href="http://twitter.com/KenneyWings">Twitter</a>
			</div>

					<%
					break;




			}

			%>

			<br>

		</div>

	</div>
</body>