<div class="text_content">

    <h1>From us, the Artists &amp; Musicians.</h1>

    <p>
        We're the people behind some of the most popular web games.
        The web is meant to be an open landscape;
        being in this bundle is how we choose to honor this.
    </p>
    <p>
        <b>UPDATE July 15th: We've reached our funding goal!</b>
        That means you can now download all the packages in this bundle
        under the public domain <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero</a> license.
    </p>

    <p>
        <b>The Bundle at a glance:</b>
        <ul>
            <li style="margin-bottom:10px">From <a href="http://halcyonicfalconx.newgrounds.com">HalcyonicFalconX</a>, the soundtracks from<br><a href="http://www.newgrounds.com/portal/view/586861">Adventure Story</a>, <a href="http://www.newgrounds.com/portal/view/566417">Bullet Heaven</a> and <a href="http://www.newgrounds.com/portal/view/548041">Epic Battle Fantasy III</a>.</li>
            <li style="margin-bottom:10px">From <a href="http://jimp.newgrounds.com/">Jimp</a>, art &amp; animations from two never-before-seen games.</li>
            <li style="margin-bottom:10px">From <a href="http://nutcasenightmare.newgrounds.com/">NutcaseNightmare</a>, soundtracks and the full source code<br>from <a href="http://www.newgrounds.com/portal/view/569281">Reimagine :The Game:</a>.</li>
            <li style="margin-bottom:10px">From <a href="http://stratkat.newgrounds.com/">Stratkat</a>, two videogame music albums<br>and a collection of music loops.</li>
            <li style="margin-bottom:10px">From <a href="http://kenney.newgrounds.com/">Kenney</a>, the debut of his Platformer Deluxe Tileset Pack.</li>
            <li style="margin-bottom:10px">From <a href="http://mindchamber.newgrounds.com/">Mindchamber</a>, art from <a href="http://www.newgrounds.com/portal/view/564995">Heavy Terror Machine</a>,<br><a href="http://www.newgrounds.com/portal/view/290631">Nightstrike</a> and <a href="http://www.newgrounds.com/portal/view/493665">Da Pink Knight</a>.</li>
        </ul>
    </p>

    <div id="get_bundle" style="position:relative; top:-20px"></div>
    <% var SHOW_DOWNLOADS = true; %>
    <% include artists.ejs %>

    <div style="text-align:center;">
        <br>
        From us, to you.
    </div>

    <hr>

    <h1>Help us help you help everyone</h1>
    <p>
        We want to give works to the public, funded by the public.
    </p>
    <!--p>
        When you buy this bundle, you get to use them under a <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US">CC-BY</a> license,
        <i>whether or not we reach our threshold.</i>
        But if we do,
        everything can then be used under the public domain <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero</a> license.
    </p-->
    <p>
        <b>UPDATE July 15th:</b>
        Not only has The Open Bundle been successfully funded,
        we shot past our goal by an additional 20%!
        By reaching this threshold, we can now release all the art and music in this bundle 
        under the public domain <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero</a> license.
    </p>
    <p>
        <b>Thanks to all of you, this bundle is now uncopyrighted.</b>
    </p>

    <img width="720" src="/bundle/img/uncopyrighted.png"/>

    <p>
        <b>SHARE IT:</b> 
        You are not only allowed, but encouraged, to share this bundle with all your friends!
    </p>
    <p> 
        <b>REMIX IT:</b> 
        Feel free to modify and build upon this work. Attribution is nice, but we won't legally mandate it.
    </p>
    <p> 
        <b>PROFIT:</b> 
        If you can make money off of using this work, that's awesome, and you should. It ain't a zero-sum world.
    </p>
    
    
    <!--p>
        <strong>What happens to my pledge?</strong>
    </p>
    <p>
        You can choose how much you would like to donate - through credit card, paypal, or even bitcoin.
        <i>Pay what you want, how you want.</i>
    </p>
    <p>
        Your pledge will be split amongst our six artists,
        as compensation for unlocking their works,
        and two open culture non-profit organizations,
        <a href="http://creativecommons.org/">Creative Commons</a> and the <a href="http://eff.org/">Electronic Frontier Foundation</a>.
        Commonly.cc takes 0%, nothing.
        If you so choose, you can leave it at a default split, or choose exactly how much you'd like to give to each party.
    </p-->

</div>