<head>

	<title>Aw Yiss, A Backer Survey</title>
	<link rel="shortcut icon" href="/favicon.ico" />

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href="/bundle/css/thanks.css" rel="stylesheet" type="text/css">
	<link href="/bundle/css/footer.css" rel="stylesheet" type="text/css">

	<!-- Google Analytics -->
	<script>

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-39550435-1']);
	  _gaq.push(['_setDomainName', 'commonly.cc']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>

<body>

	<div id="splash" style="height:200px">
		<div style="top:60px">Aw Yiss, A Backer Survey!</div>
	</div>

	<div style="width:720px; margin:0 auto 200px auto;">
		
		<div class="text_content" style="width:720px">

			Please complete this short survey by <b>Sunday, July 21st!</b>
			<br>
			<br>

			This backer survey was requested by <a href="http://nic.suzor.net/">Dr. Nicolas Suzor</a>
			from the Queensland University of Technology.
			He's also the founder of <a href="http://creativecommons.org.au/">Creative Commons Australia</a>.
			Oh, and here's the <a href="http://nic.suzor.net/materials/2013_Commons_Survey_InfoConsent.pdf">official Ethics Committee approval</a>
			he got for this study.
			<br>
			<br>

			That's right, you can fill in this survey <i>literally FOR SCIENCE!</i>
			<br>

			<hr>
			<br>

			<form action="/survey/save" method="POST">
				
				1) Why did you donate to The Open Game Art Bundle? (check all that apply)
				<br>
				<input name="answer1" value="<%=survey_answer1%>" required/>
				<!--
				* For the art/music/code in the bundle
				* To support specific artist(s) in this bundle.
				* In support of the "public domain" cause.
				* To promote my site in the Contributor Leaderboard
				* Other: [...]
				-->
				<br>
				<br>

				2) Which of the following are you: gamedev / artist / musician / other
				<br>
				<input name="answer2" value="<%=survey_answer2%>" required/>
				<!--
				* Game programmer / designer (non-art specialty)
				* Game illustrator / musician (art specialty)
				* A fan of specific artist(s) in this bundle.
				* A free culture / libre / open source advocate.
				* Other: [...]
				-->
				<br>
				<br>

				3) Any other comments? (optional)
				<br>
				<input name="answer3" value="<%=survey_answer3%>"/>
				<br>
				<br>

				<input type="hidden" name="id" value="<%=survey_id%>"/>
				<br>

				<input type="submit"/>

			</form>
		</div>

	</div>

</body>

<!-- OLARK? -->