<%

var project = {
	title: "The Open Game Art Bundle",
	banner: "/bundle/img/splash.jpg",
	goal: 10000
};

// Parse all floats
transactions = transactions.map(function(transaction){
	transaction.amount = parseFloat(transaction.amount);
	return transaction;
});

// Remove broken transactions
transactions = transactions.filter(function(transaction){
	if(isNaN(transaction.amount)) return false;
	if(transaction.amount<1) return false;
	return true;
});

// Sort transactions
transactions.sort(function(a,b){
	return parseFloat(b.amount) - parseFloat(a.amount);
});

// Sum up transactions
var total_raised = transactions.reduce(function(previousValue,currentValue){
	return previousValue + parseFloat(currentValue.amount);
},0);

var SHOW_DOWNLOADS = false;

%>

<head>

	<title>Thanks!</title>
	<link rel="shortcut icon" href="/favicon.ico" />

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href="/bundle/css/thanks.css" rel="stylesheet" type="text/css">
	<link href="/bundle/css/unlocked.css" rel="stylesheet" type="text/css">
	<link href="/bundle/css/footer.css" rel="stylesheet" type="text/css">

	<!-- Google Analytics -->
	<script>

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-39550435-1']);
	  _gaq.push(['_setDomainName', 'commonly.cc']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>

<body>

	<div id="splash" style="height:250px">
		<div style="top:60px">
			Open Soundtracks & Spritesheets
		</div>
		<div style="top:60px; font-family:Open Sans; font-size:28px; color:#444; line-height: 1em;">
			a collection of awesome
			<a href="http://creativecommons.org/publicdomain/zero/1.0/" style="color:#777;">public domain</a>
			game art from
			<a href="/" style="color:#777;">the open bundle</a>
		</div>
	</div>

	<div style="width:960px; margin:0 auto 200px auto;">

		<div class="text_content" style="width:800px">
			<b>Thanks to all of your support</b>,
			we can now release all these soundtracks and spritesheets to the public domain!
			Below, there are download links, descriptions and previews for each artists' package.
			Whether it's simply listening to a soundtrack, or using it to make your next masterpiece,
			we hope you'll love this bundle!
		</div>



		<!-- HALCYONIC FALCON X -->

		<div class="unlocked_preview">

			<!-- Artist Info -->
			<div id="artist">
				<div style="background-image:url(/bundle/artists/logo/hal.png);
							width:230px; height: 130px; background-position: 0 -60px; margin-bottom:15px;"></div>
				
				<div style="font-size:20px; text-align:right; width:220px;">
					Musician of the Epic Battle Fantasy series.<br>
					<div style="color:#777; margin-top:10px;">
						<a href="http://HalcyonicFalconX.Bandcamp.com">Bandcamp</a><br>
					    <a href="http://www.Facebook.com/HalcyonicFalconX">Facebook</a><br>
					    <a href="http://twitter.com/Phyrnna">Twitter</a>
					</div>
				</div>
				
			</div>

			<!-- Art info -->
			<div id="preview">

				<div id="divider"></div>

				<div style="width:100%; height:90px; overflow:hidden">
					<div class="download_link" onclick="openInNewTab('https://s3.amazonaws.com/openbundle/HalcyonicFalconX.zip');">
						DOWNLOAD
					</div>
					<div style="font-size:20px; padding-top:7px;">
						The original soundtracks from
						<a href="http://www.newgrounds.com/portal/view/586861">Adventure Story</a>,
						<a href="http://www.newgrounds.com/portal/view/566417">Bullet Heaven</a>
						and <a href="http://www.newgrounds.com/portal/view/548041">Epic Battle Fantasy III</a>.
					</div>
				</div>

				<span style="font-size:20px; color:#777">
					Here are a few sample tracks:
				</span>
				<br><br>
				<iframe width="100%" height="400" scrolling="no" frameborder="no" 
						src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F7862666"
						style="display:block"></iframe>

			</div>

		</div>






		<!-- JIMP -->

		<div class="unlocked_preview">

			<!-- Artist Info -->
			<div id="artist">
				<div style="background-image:url(/bundle/artists/logo/jimp.png);
							width:230px; height: 130px; background-position: 0 -60px; margin-bottom:15px;"></div>
				
				<div style="font-size:20px; text-align:right; width:220px;">
					Artist of Sushi Cat, This Is The Only Level 3, and Crash the Castle Adventures.<br>
					<div style="color:#777; margin-top:10px;">
						<a href="http://www.artjimp.com/">Website</a><br>
					    <a href="http://twitter.com/artjimp">Twitter</a>
					</div>
				</div>
				
			</div>

			<!-- Art info -->
			<div id="preview">

				<div id="divider"></div>

				<div style="width:100%; height:90px; overflow:hidden">
					<div class="download_link" onclick="openInNewTab('https://s3.amazonaws.com/openbundle/Jimp.zip');">
						DOWNLOAD
					</div>
					<div style="font-size:20px; padding-top:7px;">
						Art and animations from two never-before-seen, unreleased projects.
					</div>
				</div>

				<span style="font-size:20px; color:#777">
					Here's a quick preview of the art:
				</span>
				<br><br>
				<iframe width="100%" height="400" scrolling="no" frameborder="no" 
						src="http://imgur.com/a/AWryT/embed"
						style="display:block"></iframe>

			</div>

		</div>







		<!-- NUTCASE NIGHTMARE -->

		<div class="unlocked_preview">

			<!-- Artist Info -->
			<div id="artist">
				<div style="background-image:url(/bundle/artists/logo/ncase.png);
							width:230px; height: 130px; background-position: 0 -60px; margin-bottom:15px;"></div>
				
				<div style="font-size:20px; text-align:right; width:220px;">
					Creator of the :The Game: trilogy.<br>
					<div style="color:#777; margin-top:10px;">
						<a href="http://ncase.me">Website</a><br>
					    <a href="http://www.Facebook.com/NutcaseNightmare">Facebook</a><br>
					    <a href="http://twitter.com/ncasenmare">Twitter</a>
					</div>
				</div>
				
			</div>

			<!-- Art info -->
			<div id="preview">

				<div id="divider"></div>

				<div style="width:100%; height:90px; overflow:hidden">
					<div class="download_link" onclick="openInNewTab('https://s3.amazonaws.com/openbundle/NutcaseNightmare.zip');">
						DOWNLOAD
					</div>
					<div style="font-size:20px; padding-top:7px;">
						The soundtracks and the full source code from
						<a href="http://www.newgrounds.com/portal/view/569281">Reimagine :The Game:</a>.
					</div>
				</div>

				<span style="font-size:20px; color:#777">
					Here is Reimagine :The Game:'s original soundtrack:
				</span>
				<br><br>
				<iframe width="100%" height="400" scrolling="no" frameborder="no" 
						src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F4646796%3Fsecret_token%3Ds-67kGf"
						style="display:block"></iframe>

			</div>

		</div>






		<!-- STRAT KAT -->

		<div class="unlocked_preview">

			<!-- Artist Info -->
			<div id="artist">
				<div style="background-image:url(/bundle/artists/logo/strat.png);
							width: 230px; height: 210px; background-position: 20px -20px;
							margin-bottom:15px;"></div>
				
				<div style="font-size:20px; text-align:right; width:220px;">
					Musician featured in Beat Hazard Ultra, Unplugged, and Symphonic Tower Defense: Halloween Edition.<br>
					<div style="color:#777; margin-top:10px;">
						<a href="http://daydreamanatomy.bandcamp.com/">Bandcamp</a><br>
					    <a href="http://www.youtube.com/user/quixoticnostalgic">Youtube</a><br>
					    <a href="http://daydreamanatomy.tumblr.com/">Tumblr</a>
					</div>
				</div>
				
			</div>

			<!-- Art info -->
			<div id="preview">

				<div id="divider"></div>

				<div style="width:100%; height:90px; overflow:hidden">
					<div class="download_link" onclick="openInNewTab('https://s3.amazonaws.com/openbundle/Stratkat.zip');">
						DOWNLOAD
					</div>
					<div style="font-size:20px; padding-top:7px;">
						Two videogame soundtrack albums and a collection of music loops.
					</div>
				</div>

				<span style="font-size:20px; color:#777">
					Here are a few sample tracks:
				</span>
				<br><br>
				<iframe width="100%" height="400" scrolling="no" frameborder="no" 
						src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F7811986"
						style="display:block"></iframe>

			</div>

		</div>





		<!-- KENNEY -->

		<div class="unlocked_preview">

			<!-- Artist Info -->
			<div id="artist">
				<div style="background-image:url(/bundle/artists/logo/kenney.png);
							width:230px; height: 100px; background-position: 0 -75px; margin-bottom:15px;"></div>
				
				<div style="font-size:20px; text-align:right; width:220px;">
					Artist/coder of Armor Picross, Pico's School DX, and Jack Russell.<br>
					<div style="color:#777; margin-top:10px;">
						<a href="http://www.kenney.nl/">Website</a><br>
					    <a href="http://www.Facebook.com/KenneyNL">Facebook</a><br>
					    <a href="http://twitter.com/kenneywings">Twitter</a>
					</div>
				</div>
				
			</div>

			<!-- Art info -->
			<div id="preview">

				<div id="divider"></div>

				<div style="width:100%; height:90px; overflow:hidden">
					<div class="download_link" onclick="openInNewTab('https://s3.amazonaws.com/openbundle/Kenney.zip');">
						DOWNLOAD
					</div>
					<div style="font-size:20px; padding-top:7px;">
						330 tiles and sprites for sidescrolling games and platformers.
					</div>
				</div>

				<span style="font-size:20px; color:#777">
					Here's a quick preview of the art:
				</span>
				<br><br>
				<iframe width="100%" height="400" scrolling="no" frameborder="no" 
						src="http://imgur.com/a/4zg0g/embed"
						style="display:block"></iframe>

			</div>

		</div>





		<!-- MIND CHAMBER -->

		<div class="unlocked_preview">

			<!-- Artist Info -->
			<div id="artist">
				<div style="background-image:url(/bundle/artists/logo/mind.png);
							width:230px; height: 180px; background-position: 0 -40px; margin-bottom:15px;"></div>
				
				<div style="font-size:20px; text-align:right; width:220px;">
					Artist of the original Alien Hominid, Newgrounds Rumble, and Madness Accelerant.<br>
					<div style="color:#777; margin-top:10px;">
						<a href="http://www.mindchamber.net/">Website</a><br>
					    <a href="https://www.facebook.com/Mindchamber">Facebook</a><br>
					    <a href="http://twitter.com/mindchamber">Twitter</a>
					</div>
				</div>
				
			</div>

			<!-- Art info -->
			<div id="preview">

				<div id="divider"></div>

				<div style="width:100%; height:90px; overflow:hidden">
					<div class="download_link" onclick="openInNewTab('https://s3.amazonaws.com/openbundle/MindChamber.zip');">
						DOWNLOAD
					</div>
					<div style="font-size:20px; padding-top:7px;">
						Art from
						<a href="http://www.newgrounds.com/portal/view/564995">Heavy Terror Machine</a>,
						<a href="http://www.newgrounds.com/portal/view/290631">Nightstrike</a>
						and <a href="http://www.newgrounds.com/portal/view/493665">Da Pink Knight</a>.
					</div>
				</div>

				<span style="font-size:20px; color:#777">
					A demo reel of those three above games.
				</span>
				<br><br>
				<iframe width="100%" height="400" scrolling="no" frameborder="no" 
						src="https://www.youtube-nocookie.com/embed/mjetg-IHoz8?rel=0&html5=1"
						style="display:block"></iframe>

			</div>

		</div>






		<div style="text-align:center; font-size:30px; margin-top:10px">
			<b><a href="/">back to frontpage</a></b>
		</div>

	</div>

	<!-- Anypay -->
	<div id="pledge" class="horizontal_ribbon" style="margin:0 0 200px 0;">
		<!-- include payments.ejs -->
		<% include leaderboard.ejs %>
	</div>


	<!-- FOOTER -->
	<%- include footer.ejs %>

</body>

<script>
function openInNewTab(url){
	window.open(url,'_blank');
}
////////////////
// Leaderboard

var leaderboard = document.getElementById("leaderboard");
document.getElementById("show_all_donators").onclick = function(){
	leaderboard.removeAttribute("collapsed");
	leaderboard.setAttribute("expanded","true");
};

</script>